USE [master]
GO
/****** Object:  Database [webapigyakContext-152b09fa-7e31-4dc2-9268-661db3e141b9]    Script Date: 2025. 01. 14. 19:01:20 ******/
CREATE DATABASE [webapigyakContext-152b09fa-7e31-4dc2-9268-661db3e141b9]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webapigyakContext-152b09fa-7e31-4dc2-9268-661db3e141b9', FILENAME = N'C:\Users\serba\webapigyakContext-152b09fa-7e31-4dc2-9268-661db3e141b9.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'webapigyakContext-152b09fa-7e31-4dc2-9268-661db3e141b9_log', FILENAME = N'C:\Users\serba\webapigyakContext-152b09fa-7e31-4dc2-9268-661db3e141b9_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webapigyakContext-152b09fa-7e31-4dc2-9268-661db3e141b9].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webapigyakContext-152b09fa-7e31-4dc2-9268-661db3e141b9]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025. 01. 14. 19:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Huzas]    Script Date: 2025. 01. 14. 19:01:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Huzas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Szam1] [int] NOT NULL,
	[Szam2] [int] NOT NULL,
	[Szam3] [int] NOT NULL,
	[Szam4] [int] NOT NULL,
	[Szam5] [int] NOT NULL,
	[Szam6] [int] NOT NULL,
 CONSTRAINT [PK_Huzas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
